# Backend API URLs
BACKEND_BASE_URL=https://dev-api.gluide.me
NEXT_PUBLIC_WEBSOCKET_URL=wss://dev-api.gluide.me

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here
